In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB,ComplementNB
from sklearn.svm import SVC
from sklearn.metrics import classification_report,accuracy_score,ConfusionMatrixDisplay,confusion_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('D:/Data Analysis/Files/spammail_data.csv')
pd.set_option('display.max_column',None)
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [113]:
df.shape

(5572, 2)

In [114]:
df.size

11144

In [115]:
df.describe().T

         count unique                     top  freq
Category  5572      2                     ham  4825
Message   5572   5157  Sorry, I'll call later    30

In [116]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [117]:
df=df.where((pd.notnull(df)),'')

In [118]:
#Label Encoding spam=0 and ham=1
df.loc[df['Category']=='spam','Category',]=0
df.loc[df['Category']=='ham','Category',]=1

In [119]:
x=df.iloc[:,-1].values
y=df.iloc[:,0].values
y

array([1, 1, 0, ..., 1, 1, 1], dtype=object)

In [120]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=1)
print(x.shape,x_train.shape,x_test.shape)

(5572,) (4457,) (1115,)

# Feature Extraction

In [121]:
#Transforming text data into feature vectors 
fea_ext=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_fea=fea_ext.fit_transform(x_train)
x_test_fea=fea_ext.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [122]:
print(x_train_fea)

  (0, 4346)	0.3238008504874723
  (0, 2353)	0.2545072203817634
  (0, 6695)	0.3616065178053154
  (0, 5895)	0.415102954745324
  (0, 2719)	0.299459437576315
  (0, 3822)	0.37729728742748087
  (0, 3789)	0.4750235197588447
  (0, 3321)	0.2638802854739516
  (1, 4343)	0.6555659308129219
  (1, 1858)	0.5163195438969705
  (1, 3365)	0.5510421389942982
  (2, 4267)	0.531599749449541
  (2, 6215)	0.43979370278404856
  (2, 6597)	0.40097414833733686
  (2, 5672)	0.32606636481997364
  (2, 3025)	0.3502912545366897
  (2, 3185)	0.3663054742561573
  (3, 4447)	0.18080236341909536
  (3, 3084)	0.14346439189216004
  (3, 2877)	0.30030357190007717
  (3, 5515)	0.16439483489485024
  (3, 6922)	0.13381964389308706
  (3, 7080)	0.19700844583868773
  (3, 5535)	0.30030357190007717
  (3, 7398)	0.19877707762085306
  :	:
  (4454, 397)	0.31848634658760416
  (4454, 4027)	0.2561192223695296
  (4454, 6409)	0.2511086901671169
  (4454, 7382)	0.23350338191116915
  (4454, 4578)	0.28626353932821713
  (4455, 6600)	0.3164025961524856
  (4455, 2805)	0.3016723549044074
  (4455, 5425)	0.2831144456705363
  (4455, 4948)	0.291221082414565
  (4455, 365)	0.2708906633533937
  (4455, 860)	0.2544703850602943
  (4455, 5684)	0.2831144456705363
  (4455, 3721)	0.22464478145066644
  (4455, 4284)	0.18993177207181944
  (4455, 4473)	0.18061588089155375
  (4455, 313)	0.20494254942428108
  (4455, 5821)	0.2292888713223737
  (4455, 260)	0.23097890836739493
  (4455, 2124)	0.2386556082002209
  (4455, 6681)	0.1644718719525843
  (4455, 6546)	0.1617993994273865
  (4455, 3759)	0.13547655899979386
  (4455, 5515)	0.17320790500652877
  (4456, 6025)	0.6984641956538138
  (4456, 1703)	0.7156450009534552

In [123]:
model=LogisticRegression()
model.fit(x_train_fea,y_train)

LogisticRegression()

In [124]:
# Evaluating the trained model
pred_train=model.predict(x_train_fea)
acc_train=accuracy_score(y_train,pred_train)
print(acc_train)

0.9681400044873233

In [125]:
pred_test=model.predict(x_test_fea)
acc_test=accuracy_score(y_test,pred_test)
print(acc_test)

0.9704035874439462

# Building a predictive system

In [126]:
input_mail=['So Ã¼ pay first lar... Then when is da stock comin...']
input_data_fea=fea_ext.transform(input_mail)
pred1=model.predict(input_data_fea)
print(pred1)

if(pred1)==1:
    print('Ham Mail')
else:
    print("Spam")

[1]
Ham Mail